.game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    animation: fadeIn .5s .5s cubic-bezier(.175,.885,.32,1.275) backwards;
}

.game-step-one {
    width: 100%;
    min-width: 475px;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url("../assets/images/bg-pentagon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
}

.item-of-game {
    width: 145px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid #bebebe;
    border-radius: 50%;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    opacity: 0.9;
    transition: opacity 0.5s;
    animation: fadeIn .5s cubic-bezier(.175,.885,.32,1.275);
    cursor: pointer;
}

.item-of-game:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.item-of-game img  {
    width: 80%;
}

.spock-and-paper, .rock-and-lizard {
    width: 100%;
    display: flex;
    align-items: center;
}

.spock-and-paper {
    justify-content: space-between;
    padding-bottom: 35px;
}

.rock-and-lizard {
    justify-content: center;
    gap: 50px;
}

.scissors{
    border-color: hsl(39, 89%, 49%);
    box-shadow: 0 5px 0 #c96d1d, inset 0 5px 0 rgba(96,110,133,.25);
}

.spock{
    border-color: hsl(189, 59%, 53%);
    box-shadow: 0 5px 0  #277abe, inset 0 5px 0 rgba(96,110,133,.25);
}

.paper{
    border-color: hsl(230, 89%, 62%);
    box-shadow: 0 5px 0  #2740be, inset 0 5px 0 rgba(96,110,133,.25);
}

.rock{
    border-color: hsl(349, 71%, 52%);
    box-shadow: 0 5px 0  #9e152e, inset 0 5px 0 rgba(96,110,133,.25);
}
.lizard{
    border-color: hsl(261, 73%, 60%);
    box-shadow: 0 5px 0  #7a27be, inset 0 5px 0 rgba(96,110,133,.25);
}


.game-step-two {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;

}

.game-step-two .item-of-game {
    width: 220px;
    height: 220px;
    border-width: 35px;
    cursor: initial;
    position: relative;
}

.game-step-two .item-of-game.win::before {
    width: 220%;
    height: 220%;
    overflow: hidden;
    content: "";
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle,rgba(39, 50, 82, 0) 0 40%,rgba(39,50,82,.5) 40% 60%,rgba(33,44,76,.5) 55% 80%,rgba(38,58,89,.5) 80% 100%);
    z-index: 0;
    opacity: .4;
    animation: fadeIn 1s 1s cubic-bezier(.175,.885,.32,1.275) both,loadingSmaller 1s 1s cubic-bezier(.33,1,.68,1) infinite alternate-reverse;
}

.game-step-two .item-of-game img  {
    width: 60%;
    z-index: 1;
}

.player-picked, .the-house-picked {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.the-house-picked {
    animation: loading 1s linear;
}

.lose-or-win {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.lose-or-win h1 {
    letter-spacing: 1px;
    font-size: 40px;
    animation: fadeInText .5s .5s cubic-bezier(.175,.885,.32,1.275) both;
}

.play-again-btn {
    width: 100%;
    height: 50px;
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    animation: fadeIn .6s .6s cubic-bezier(.175,.885,.32,1.275) both;
    cursor: pointer;
}

.play-again-btn:hover{
    transform: translateY(-5px);
    transition: transform 0.4s;
}

.set-other-game {
    color: hsl(229, 25%, 31%);
    letter-spacing: 2px;
    font-size: 14px;
    animation: fadeInText .5s .5s cubic-bezier(.175,.885,.32,1.275) both;
}

@media (max-width: 950px) {
    .game-step-two {
        max-width: 900px;
    }

    .game-step-two .item-of-game {
        width: 200px;
        height: 200px;
    }

    .lose-or-win {
        width: 150px;
    }

    .lose-or-win h1 {
        font-size: 35px;
    }
}

@media (max-width: 700px) {
    .game-step-two {
        max-width: 650px;
        gap: 30px;
    }

    .game-step-two .item-of-game {
        width: 150px;
        height: 150px;
        border-width: 20px;
    }
    
    .lose-or-win {
        width: 130px;
    }

    .lose-or-win h1 {
        letter-spacing: .5px;
        font-size: 30px;
    }

    .game-step-two .player-picked h2 , 
    .game-step-two .the-house-picked h2 {
        font-size: 19px;
    }
}


@media (max-width: 500px) {
    .game-step-one {
        min-width: auto;
        max-width: 375px;
        max-height: 375px;
        background-size:300px;
    }

    .item-of-game {
        width: 90px;
        height: 90px;
        border-width: 10px;
 
    }

    .spock-and-paper {
        justify-content: center;
        gap: 150px;
    }

    .item-of-game img {
        width: 100%;
    }

    .game-step-two {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }
    
    .game-step-two .item-of-game {
        width: 130px;
        height: 130px;
        border-width: 20px;
    }
    
    .game-step-two .player-picked, 
    .game-step-two .the-house-picked {
        flex-direction: column-reverse;
        gap: 30px;
    
    }

    .game-step-two .player-picked h2 , 
    .game-step-two .the-house-picked h2 {
        font-size: 16px;
    }

    .game-step-two .player-picked {
        grid-column: 1;
        grid-row: 1;
    }
    
    .game-step-two .the-house-picked {
        grid-column: 2;
        grid-row: 1;
    }
    
    .game-step-two .lose-or-win {
        grid-column: 1 / span 2;
        grid-row: 2;
        width: 100%;
        justify-content: center;
        gap: 25px;
    }

    .lose-or-win {
        animation: none;
    }

    .lose-or-win h1 {
        letter-spacing: .5px;
        font-size: 30px;
    }

    .lose-or-win .play-again-btn {
        width: 220px;
        background: hsl(0, 0%, 100%);
    }

}

@media (max-width: 330px) {
    .game-step-one {
        min-width: auto;
        max-width: 325px;
        max-height: 325px;
        background-size:250px;
    }

    .game-step-two .item-of-game {
        margin-top: 20px;
 
    }

    .spock-and-paper {
        justify-content: center;
        gap: 100px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeInText {
    from {
        font-size: 0
    }
}

@keyframes loadingSmaller {
    from {
        transform: scale(.75)
    }

    to {
        transform: scale(1)
    }
}


@keyframes loading {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(.5)
    }

    75% {
        transform: scale(.75)
    }

    100% {
        transform: scale(1)
    }
}
